<footer class="site-footer bg-gray">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h5>C19 COALITION</h5>
          <h6>
            <span>
              <a href="mailto:info@c19coalition.org">info@c19coalition.org</a>
            </span>
            |
            <span>
              <a href="https://twitter.com/c19Coalition">@c19Coalition</a>
            </span>
            |
            <span>
              <a href="tel:+1-855-904-3506">1-855-904-3506</a>
            </span>
          </h6>
        </div>
      </div>
    </div>
  </footer>
