<footer class="site-footer surface">
    <div class="container">
      <div class="row justify-content-start">
        <div class="col">
          <a href="/" id="logo">
            <img src="/assets/images/c19logo.svg" alt="{{ site.title }}" />
          </a>
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-6 col-md-3 mt-3">
          <h5>About</h5>
          <div><a href="/blog">Blog</a></div>
          <div><a href="/commitments">Commitments</a></div>
          <div><a href="/ppe-orgs">Partners</a></div>
        </div>
        <div class="col-6 col-md-3 mt-3">
          <h5>Help</h5>
          <div><a href="/directory">Directory</a></div>
          <div><a href="/health/">Mental Health Resources</a></div>
          <div><a href="/ppe-supply-chain">Supply Chain</a></div>
        </div>
        <div class="col-6 col-md-3 mt-3">
          <h5>Social</h5>
          <div>
            <a href="https://www.facebook.com/C19Coalition">Facebook</a>
          </div>
          <div>
            <a href="https://www.instagram.com/c19coalition/">Instagram</a>
          </div>
          <div>
            <a href="https://www.linkedin.com/company/c19coalition">LinkedIn</a>
          </div>
          <div>
            <a href="https://twitter.com/c19Coalition">Twitter</a>
          </div>
          <div>
            <a href="https://www.youtube.com/channel/UCLRG6loEPxV-FQOpKDpbb1Q">YouTube</a>
          </div>
        </div>
        <div class="col-6 col-md-3 mt-3">
          <h5>Contact Us</h5>
          <div>
            <a href="mailto:info@c19coalition.org">info@c19coalition.org</a>
          </div>
          <div>
            <a href="tel:+1-855-904-3506">1-855-904-3506</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
