<section class="background-secondary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg">
          <a href="/" class="navbar-brand mr-auto" id="logo">
            <img src="/assets/images/c19logo.svg" alt="{{ site.title }}" />
          </a>
          <ul class="navbar-nav">
            {% for item in site.data.main_nav_pages %}
            <li
              class="nav-item {% if item.class %}{{item.class}}{% endif %} {% if item.url == page.url %}active{% endif %}">
              <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>