<section class="background-secondary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg">
          <a href="/" class="navbar-brand mr-auto" id="logo">
            <img src="/assets/images/c19logo.svg" alt="{{ site.title }}" />
          </a>
          <ul class="navbar-nav">
            {% for item in site.data.main_nav_pages %}
            <li
              class="nav-item {% if item.class %}{{item.class}}{% endif %} {% if item.url == page.url %}active{% endif %}">
              <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
          <div class="mobile">
            <ul class="navbar-nav" id="show-mobile-nav">
              {% for item in site.data.main_nav_pages %}
                {% if item.url == page.url %}
                <li class="nav-item">
                  <a class="nav-link" href="#">{{ item.title }}</a>
                </li>
                {% endif %}
              {% endfor %}
              <li>
                <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <a class="nav-icon" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="20" viewBox="0 0 34 20"><path d="M17 12.758L5.121.879a2.998 2.998 0 0 0-4.242 0 2.998 2.998 0 0 0 0 4.242l14 14a2.998 2.998 0 0 0 4.242 0l14-14C33.707 4.535 34 3.768 34 3s-.293-1.535-.879-2.121a2.998 2.998 0 0 0-4.242 0L17 12.758z"></path></svg>
                  </a>
                </button>
              </li>
            </ul>
            <ul class="navbar-nav" id="mobile-nav">
              {% for item in site.data.main_nav_pages %}
              <li
                class="nav-item {% if item.class %}{{item.class}}{% endif %} {% if item.url == page.url %}active{% endif %}">
                <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
              </li>
              {% endfor %}
              <a href="#" id="hide-mobile-nav">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 16.1 16.1"><path d="M10.9 8.1l4.9-4.9c.4-.4.4-1 0-1.4L14.4.4c-.4-.4-1-.4-1.4 0L8.1 5.2 3.1.3c-.4-.4-1-.4-1.4 0L.3 1.7c-.4.4-.4 1 0 1.4L5.2 8 .3 13c-.4.4-.4 1 0 1.4l1.4 1.4c.4.4 1 .4 1.4 0L8 10.9l4.9 4.9c.4.4 1 .4 1.4 0l1.4-1.4c.4-.4.4-1 0-1.4l-4.8-4.9z"></path></svg>
              </a>
              </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
<script>
  document.getElementById('show-mobile-nav').addEventListener('click', function () {
    document.getElementById('mobile-nav').classList.add("show")
  })
  document.getElementById('hide-mobile-nav').addEventListener('click', function () {
    document.getElementById('mobile-nav').classList.remove("show")
  })
</script>
