---
layout: default
---
{%  for org in site.organizations %}
{%    assign locations = locations | append: "|" | append: org.location %}
{%    for type in org.type %}
{%      assign types = types | append: "|" | append: type %}
{%    endfor %}
{%  endfor %}
{%  assign locations = locations | split: "|" | sort | uniq %}
{%  assign types = types | split: "|" | sort | uniq %}

<!-- NEED TO ADD CHECKSUM AND MAKE SURE WE ARE USING A CONSISTEND CDN -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"
/>

<section class="bg-navy section-intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-white my-5">
        <h1 class="text-center font-weight-bold site-logo">
          <img src="/assets/images/ppe-logo.svg" alt="{{ site.title }}" />
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="section-hero py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-white">
        <h2>Directory</h2>
        <p>
          This is a constantly updated directory of all of the organizations
          currently working to get critical PPE and other medical equipment to
          health care professionals, first responders, and other at risk groups.
          If you are part of a group that needs that be listed, please let us
          know.
        </p>
      </div>
      <div class="col-12 mt-2">
        <div class="d-flex justify-content-between">
          <select id="type" class="selectpicker" multiple>
            {% for type in types %}
            {% if type != "" %}
            <option>{{ type }}</option>
            {% endif %}
            {% endfor %}
          </select>
          <select id="location" class="selectpicker" multiple>
            {% for location in locations %}
            {% if location != "" %}
            <option>{{ location }}</option>
            {% endif %}
            {% endfor %}
          </select>
          <select id="member" class="selectpicker">
            <option></option>
            <option>Member of the coalition</option>
            <option>Not a member of the coalition</option>
          </select>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="x-bg-gray section-content pt-5">
  <div class="container">
    <div id="organizations" class="row justify-content-center">
      <div class="col-12 my-2 list">
        {% for org in site.organizations %}
        <div class="organization">
          <div class="organization-header">
            <h3>
              <a href="{{ org.site_url }}" class="name">
                {{ org.name }}
              </a>
            </h3>
            <a class="btn btn-primary" href="#">Contact</a>
          </div>
          {% if org.logo %}
          <div class="organization-image">
            <img src="{{ org.logo }}" />
          </div>
          {% endif %}
          <div class="organization-content">
            <p>{{ org.description | markdownify }}</p>
          </div>
          <div class="organization-footer">
            <div class="badge badge-secondary">
              {% for type in org.type %}
              <div class="type">{{ type }}</div>
              {% endfor %}
            </div>
            <div class="badge badge-secondary">
              <div class="location">{{ org.location }}</div>
            </div>
            <div class="badge badge-secondary">
              <div class="member" value="{{ org.is_member }}">{% if org.is_member %}Member of the coalition{% else %}Not a member of the coalition{% endif %}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- NEED TO ADD CHECKSUM AND MAKE SURE WE ARE USING A CONSISTEND CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>


<script>
  var options = {
    valueNames: ['location', 'member', 'type']
  };
  var organizationList = new List('organizations', options);
  var filteredLocations = organizationList.items;
  var filteredMembers = organizationList.items;
  var filteredTypes = organizationList.items;

  function filterAll() {
    var order = [filteredLocations, filteredMembers];
    var filtered = [].concat(filteredTypes);
    for (var i = 0; i < order.length; i++) {
      filtered = filtered.filter(function (organization) {
        return order[i].indexOf(organization) !== -1;
      });
    }
    organizationList.filter(function (organization) {
      return filtered.indexOf(organization) !== -1;
    });
  }

  function filterSpecific(name, selectedOptions) {
    var filteredList = [];
    for (var i = 0; i < organizationList.items.length; i++) {
      var organization = organizationList.items[i];
      var values = organization.values()[name].split('|')
      var matchCount = 0;
      for (var j = 0; j < selectedOptions.length; j++) {
        console.log(values, selectedOptions[j])
        if (values.indexOf(selectedOptions[j]) >= 0) {
          matchCount++;
        }
      }
      if (matchCount > 0) {
        filteredList.push(organization)
      }
    }
    return filteredList;
  }

  function getSelectedOptions(event) {
    var selectedOptions = []
    $.each(event.target.selectedOptions, function (index, element) {
      selectedOptions.push(element.value)
    });
    return selectedOptions;
  }

  $("#type").on('changed.bs.select', function (event, clickedIndex, isSelected, previousValue) {
    filteredTypes = filterSpecific('type', getSelectedOptions(event))
    filterAll()
  })

  $("#location").on('changed.bs.select', function (event, clickedIndex, isSelected, previousValue) {
    filteredLocations = filterSpecific('location', getSelectedOptions(event))
    filterAll()
  })

  $("#member").on('changed.bs.select', function (event, clickedIndex, isSelected, previousValue) {
    filteredMembers = filterSpecific('member', getSelectedOptions(event))
    filterAll()
  })
</script>
