---
permalink: /directory
layout: default
---
{% assign counter = 0 %}
{%  for org in site.organizations %}
{%    assign locations = locations | append: "|" | append: org.location %}
{%    if org.only_on_home_page != true %}
{%      assign counter = counter | plus:1 %}
{%    endif%}
{%  endfor %}
{%  assign locations = locations | split: "|" | sort %}
{%  assign locations = "Nationwide|Multinational" | split: "|" | concat: locations | uniq %}

{% for collection in site.data.cms.collections %}
  {% if collection.name == "organization" %}
    {% for field in collection.fields %}
      {% if field.name == "type" %}
        {% assign types = field.options %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

<!-- NEED TO ADD CHECKSUM AND MAKE SURE WE ARE USING A CONSISTEND CDN -->
<link rel="stylesheet" href="/assets/bootstrap-multiselect.css" />
<link rel="stylesheet" href="/assets/css/directory.css" />

<section class="section-hero section-directory pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-white">
        <h2>Directory</h2>
        <p class="mb-0">
          This is a constantly updated directory of all of the organizations
          currently working to get critical PPE and other medical equipment to
          health care professionals, first responders, and other at risk groups.
          If you are part of a group that needs to be listed, please let us
          know.
        </p>
      </div>
      <div class="col-12 text-white mt-2">
        <a class="btn" href="/get-listed" role="button">Get Listed</a>
      </div>
    </div>
  </div>
</section>

<section class="section-directory section-content pt-5">
  <div class="container">
    <div class="col-12 mx-auto">
      <div class="d-flex mb-3 justify-content-between align-items-center">
        <h5 class="mb-0">All Organizations (<span id="results_count">{{ counter }}</span>/{{ counter }})</h5>
        <a id="reset" class="btn btn-sm float-right">Reset</a>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm mb-2 mb-lg-0">
          <select id="type" class="multiselect-container dropdown-menu" title="All Types" multiple="multiple">
            <option selected value="all">All Types</option>
            {% for type in types %}
            {% if type != "" %}
            <option value={{ type.value }}>{{ type.label }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="col-sm mb-2 mb-lg-0" id="location-col">
          <select id="location" class="dropdown-menu" title="All Locations">
            <option value="all" selected>All Locations</option>
            {% for location in locations %}
            {% if location != "" %}
            <option>{{ location }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="col-sm">
          <select id="member" class="multiselect-container dropdown-menu" title="All Organizations">
            <option value="all" selected>All Organizations</option>
            <option value="true">Coalition Members</option>
            <option value="false">Non-Coalition Members</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-directory section-content pt-5" id="no-result">
  <div class="container">
    <div class="col-12 mx-auto">
      <div>
        <h1>No results</h1>
        <div>We couldn't find any organizations that match your requirements.</div>
        <div><a>Try again</a>.</div>
      </div>
    </div>
  </div>
</section>

<section class="section-directory section-content pt-5">
  <div id="organizations" class="container">
    <div class="row justify-content-start list">
      {% for org in site.organizations %}
      {% if org.only_on_home_page != true %}
      <div class="col-12 col-lg-6 col-md-offset-1">
        <div class="organization">
          <div class="organization-header">
            <h3>
              {% if org.site_url %}
              <a  href="{{ org.site_url }}" class="name">
                {{ org.name }}
              </a>
              {% else %}
              {{ org.name }}
              {% endif %}
            </h3>

            {% if org.site_url %}
            <a class="btn" href="{{ org.site_url }}" target="_blank">Visit</a>
            {% endif %}
          </div>
          <div class="organization-content">
            <p>{{ org.description | markdownify }}</p>
          </div>
          <div class="container organization-footer">
            <div class="row">
              <div class="col-sm-8">

                {% for rawType in org.type %}

                {% assign type = types | where: "value", rawType %}

                {% if type %}
                <span class="badge badge-default">{{ type.first.label }}</span>
                {% endif %}

                {% endfor %}
                <span class=" badge badge-default">{{ org.location }}</span>
              </div>
              <div class="col-sm-4 col-member-status">
                {% if org.is_member %}
                <div class="badge badge-default">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12">
                    <path fill="#EDC624" fill-rule="evenodd" d="M16 10v2H0v-2h16zm0-5v2H0V5h16zm0-5v2H0V0h16z" /></svg>
                    <span>Coalition Member</span>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="d-none">
              <div class="type">{{ org.type | sort | join: "|" }}</div>
              <div class="location">{{ org.location }}</div>
              <div class="member">{{ org.is_member }}</div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<script>
  if (document.readyState !== 'loading') {
    initDirectory();
  } else {
    document.addEventListener('DOMContentLoaded', function () {
      initDirectory();
    });
  }

  function initDirectory() {
    var options = {
      valueNames: ['location', 'member', 'type']
    };
    var organizationList = new List('organizations', options);
    var filteredOptions = {
      location: organizationList.items,
      member: organizationList.items,
      type: organizationList.items
    }

    function filterAll() {
      var order = [filteredOptions['location'], filteredOptions['member']];
      var filtered = [].concat(filteredOptions['type']);
      for (var i = 0; i < order.length; i++) {
        filtered = filtered.filter(function (organization) {
          return order[i].indexOf(organization) !== -1;
        });
      }

      document.querySelector("#results_count").innerText = filtered.length
      organizationList.filter(function (organization) {
        return filtered.indexOf(organization) !== -1;
      });

      if (filtered.length > 0) {
        $("#no-result").hide()
      } else {
        $("#no-result").show()
      }
    }

    function filterSpecific(name, selectedOptions) {
      var filteredList = [];

      if (selectedOptions.length === 0) {
        filteredList = organizationList.items;
      } else {
        for (var i = 0; i < organizationList.items.length; i++) {
          var organization = organizationList.items[i];
          var values = organization.values()[name].split('|')
          var matchCount = 0;
          for (var j = 0; j < selectedOptions.length; j++) {
            if (values.indexOf(selectedOptions[j]) >= 0) {
              matchCount++;
            }
          }
          if (matchCount > 0) {
            filteredList.push(organization)
          }
        }
        document.querySelector("#results_count").innerText = filteredList.length
      }

      if (name === 'type') {
        resetLocationOptions();
        hideLocationOptions(filteredList)
      }

      return filteredList;
    }

    function getSelectedOptions(selectElement) {
      var selectedOptions = []
      $.each(selectElement.selectedOptions, function (index, element) {
        selectedOptions.push(element.value)
      });
      return selectedOptions;
    }

    function hideLocationOptions(filteredList) {
      var showLocations = {};
      for (var i = 0; i < filteredList.length; i++) {
        showLocations[filteredList[i].values().location] = true;
      }
      var uniqueLocations = ['all'];
      for (var location in showLocations) {
        uniqueLocations.push(location);
      }

      var locationOptions = $("#location-col input");
      for (var i = 0; i < locationOptions.length; i++) {
        if (uniqueLocations.indexOf(locationOptions[i].value) === -1) {
          $(locationOptions[i].parentElement.parentElement.parentElement).hide();
        }
      }
    }

    function resetLocationOptions() {
      $("#location-col li").show();
    }

    $("#reset, #no-result a").click(function () {
      $("#location, #member, #type").multiselect('deselectAll', false);
      $("#location, #member, #type").multiselect('select', 'all');
      $("#location, #member, #type").multiselect('updateButtonText');
      filteredOptions['location'] = organizationList.items;
      filteredOptions['member'] = organizationList.items;
      filteredOptions['type'] = organizationList.items;
      filterAll();
      resetLocationOptions();
    });

    $("#location, #member, #type").multiselect({
      buttonWidth: '100%',
      onChange: function (option, checked) {
        var selectElement = option[0].parentElement;
        var selectedOptions = getSelectedOptions(selectElement);
        if (checked === true && option[0].value !== 'all') {
          $(selectElement).multiselect('deselect', 'all');
          $(selectElement).multiselect('updateButtonText');
        } else if (option[0].value === 'all') {
          $(selectElement).multiselect('deselectAll');
          $(selectElement).multiselect('select', 'all');
          $(selectElement).multiselect('updateButtonText');
          selectedOptions = [];
        } else if (selectElement.id === 'type' && selectedOptions.length === 0) {
          $(selectElement).multiselect('select', 'all');
        }
        filteredOptions[selectElement.id] = filterSpecific(selectElement.id, selectedOptions)
        filterAll()
      }
    });
  }
</script>
