@import "variables";

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

strong {
  font-weight: 700;
}

.navbar-nav {
  flex-direction: row;
  display: none;
}

.navbar-nav .nav-item a {
  margin-left: 20px;
  font-size: 1rem;
  padding: 0;
  color: $cold-azure;
}

.navbar-nav .nav-item .btn {
  margin-left: 20px;
  font-size: 1rem;
  color: $on-primary;
  padding: .375rem .75rem;
}

.navbar-nav .nav-item .btn:hover {
  color: $on-primary;
}

.nav-link svg {
  fill: $primary;
  height: 0.8rem;
}

.navbar-nav .nav-item a:hover {
  color: $cold-azure;
}

.navbar-nav .nav-item.active a {
  color: $cold-azure;
  font-weight: 700;
}


.navbar .mobile {

  #show-mobile-nav {
    display: flex;
  }

  .navbar-nav#mobile-nav {
    animation: fade-in .4s ease-in-out forwards;
    animation: slide-in .3s ease-in-out forwards;
    background-color: $background-secondary;
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    padding-top: 30vh;
    padding-left: 15px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;

    a {
      font-size: 2rem;
    }
  }

  #hide-mobile-nav svg {
    fill: $primary;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .navbar-nav.show#mobile-nav {
    display: flex
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes slide-in {
  from {
    padding-top: 25vh;
  }

  to {
    padding-top: 15vh;
  }
}

@media (min-width: 660px) {
  .navbar .mobile {
    display: none;
  }

  .navbar-nav {
    display: flex;
  }
}

section .row div {
  max-width: $max-section-width;
}

a, a:hover {
  color: $primary;
}

.background {
  background: $background;
  color: $on-background;
}

.background-secondary {
  color: $on-background-secondary;
}

.surface {
  background: $surface;
  color: $on-surface;
}

.surface-secondary {
  background: $surface-secondary;
  color: $on-surface-secondary;
}

.primary {
  background: $primary;
  color: $on-primary;
}

.secondary {
  background: $super-alert;
  color: $on-secondary;
  a {
    color: $on-secondary;
  }
}

.btn, .btn:hover {
  @extend .primary;

  font-weight: 600;
}

.secondary.btn, .secondary.btn:hover {
  @extend .secondary;
}

.primary-inversed, .primary-inversed:hover {
  background: $on-primary;
  color: $primary;
}

.cta {
  font-weight: bold;
}

h1 {
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h3 {
  font-weight: 700;
}

footer,
section {
  &.section-members {
    .col-12 {
      max-width: $max-section-width;
    }
  }
}

.lg-gutter {
  @media (min-width: 660px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.partner-logo {
  text-align: center;
  margin-bottom: 3rem;

  img {
    width: 100%;
  }
}

.section-hotline {
  border: 1px solid $primary;
  box-shadow: 0 3px 16px rgba(0,0,0,.10);

  border-radius: 5px;
  padding: 2rem;

  h2 {
    font-weight: 500;
  }

  .hotline-number,
  .hotline-email {
    text-align: center;

    a {
      &:hover {
        text-decoration: none;
      }
    }

    svg {
      height: 40px;
      fill: $perfect-white;
      margin-right: 5px;
    }
  }

  .mental-health-resources {
    text-align: center;
  }

}

.section-directory-home {
  box-shadow: 0 3px 16px rgba(0,0,0,.10);
  background-color: $gray-100;
}

.section-content {
  h2 {
    text-transform: uppercase;
    letter-spacing: 0.01rem;
  }

  h3 {
    font-weight: 600;
  }

  h4 {
    margin-top: 1.5rem;
  }
}

.section-intro {
  h3 {
    margin-bottom: 2rem;
  }
}

.section-logo {
  img {
    width: 240px;
  }
}

.site-footer {
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: $gray-100;

  h5 {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }
}

#content {
  flex: 1;
}

#content .multiselect-container>li>a>label {
  margin: 0;
  height: 100%;
  cursor: pointer;
  font-weight: 400;
  padding: 3px 10px 3px 10px;
}

.site-logo {
  margin: 0 auto;
  max-width: 15rem;
}

.optional {
  color: grey;
}

// Hide placeholder on focus, not just on typing text
input:focus::placeholder {
  color: transparent;
}

.top-menu {
  background-color: $primary;

  .row {
    align-items: center;
  }

  .col {
    margin: 0.5rem 0 0.5rem 0;
  }

  .col.get-listed {
    text-align: right;
  }
}

.middle-menu {
  padding: 0.5rem 0 0.5rem 0;
  border-bottom: 1px solid $gray-200;
}

#logo {
  z-index: 20;
}

#external-link {
  fill: $primary;
}

.blog h1,
.longread h2,
.longread h1 {
  margin-bottom: 0rem;
}

blockquote::before {
  content: url(/assets/images/quotes.svg);
  height: 2rem;
}

blockquote {
  line-height: 1.1;
  font-size: 2rem;
  padding: 2rem;
  font-family: 600;

  cite::before {
    content: "–";
  }
  cite {
    margin-top: 1rem;
    font-size: 1rem;
    color: $gray-600;
    display: block;
  }
}

.author,
.posted,
.reading-time,
.what-is {
  color: $gray-600;
  font-size: .9rem;
  font-style: italic;
}

.what-is {
  margin-top: 2rem;
}

.reading-time {
  color: $gray-500;
  margin-bottom: 2rem;
}

.container.longread {
  img.portrait {
    max-width: 50%;
    margin: 0 25%;
  }
  img[src$='#square'] {
    max-width: 70%;
    margin: 0 15%;
  }
}

.thumbnail {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: $gray-400;
}
.container.longread .thumbnail img {
  max-width: none;
  display: none;
  margin: 0;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
.container.longread .thumbnail img.loaded {
  display: inline;
}

.container.longread {
  max-width: 50rem;

  img {
      max-width: 100%;
  }

  .separator .col {
    border-bottom: 1px solid $gray-600;
    margin: 1.5rem 0 1.5rem 0;
  }

  .post.post-list {
    cursor: pointer;
    padding: 0;

    h3 a:hover {
      text-decoration: none;
    }

    .col {
      padding: 0;
    }

    .col-auto {
      padding-right: 0;
    }

    .content {
      img {
        display: none;
      }

      p {
        margin: 0;
      }
    }

    .read-full {
      color: $primary;
    }

    .triple-dot {
      color: $gray-600;
    }

  }

  .share {
    margin-top: 3rem;

    a {
      margin-right: 1rem;
      color: $gray-600;
      font-size: .9rem;
    }
  }
}

@media (min-width: 992px) {
  .container.longread {
    .separator {
      display: none;
    }

    .post.post-list {
      padding: 0.5rem 1rem 0.5rem 1rem;
      border-radius: 0.5rem;
      border: 1px solid $gray-600;
    }

    img[src$='#portrait'] {
      width: 260px;
      float: left;
      margin: 0 2rem 1rem 0;
    }
  }

  .navbar {
    padding: 0px;
  }

  .partner-logo {
    text-align: center;
    margin-bottom: 3rem;

    img {
      width: auto;
      max-width: 240px;
    }
  }

  .post {
    margin-bottom: 3rem;
  }

  .section-donate {
    border: 1px solid $primary;
    box-shadow: 0 3px 16px rgba(0,0,0,.10);
    border-radius: 5px;
    padding: 2rem;
    text-align: center;
    width: 70%;

    .donate-id {
      text-align: center;
      justify-content: center;
    }
  }

  #logo {
    display: inherit;
  }

  .site-footer {
    #logo {
      display: inline;
    }
  }
}
