@import "variables";

body {
  font-family: $font-family-regular;
}

strong {
  font-family: $font-family-bold;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav .nav-item a {
  font-size: 18px;
  margin-left: 20px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  color: $cold-azure;
  font-family: $font-family-medium;
}

.navbar-nav .nav-item a:hover {
  color: $deep-below;
}

.navbar-nav .nav-item.active a {
  color: $cold-azure;
  font-family: $font-family-bold;
}

section .row div {
  max-width: $max-section-width;
}

a, a:hover {
  color: $primary;
}

.background {
  background: $background;
  color: $on-background;
}

.background-secondary {
  background: $background-secondary;
  color: $on-background-secondary;
}

.surface {
  background: $surface;
  color: $on-surface;
}

.surface-secondary {
  background: $surface-secondary;
  color: $on-surface-secondary;
}

.primary {
  background: $primary;
  color: $on-primary;
}

.secondary {
  background: $super-alert;
  color: $on-secondary;
  a {
    color: $on-secondary;
  }
}

.btn, .btn:hover {
  @extend .primary;

  font-family: $font-family-semibold;
}

.secondary.btn, .secondary.btn:hover {
  @extend .secondary;
}

.primary-inversed, .primary-inversed:hover {
  background: $on-primary;
  color: $primary;
}

.cta {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-semibold;
}

h3 {
  font-weight: bold;
}

footer,
section {
  &.section-members {
    .col-12 {
      max-width: $max-section-width;
    }
  }
}

.lg-gutter {
  @media (min-width: 660px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.partner-logo {
  text-align: center;
  margin-bottom: 3rem;
}

.section-hotline {
  @extend .surface;

  border-radius: 5px;
  padding: 40px;

  h2 {
    font-weight: 500;
  }

  .hotline-number,
  .hotline-email {
    text-align: center;

    a {
      &:hover {
        text-decoration: none;
      }
    }

    svg {
      height: 40px;
      fill: $perfect-white;
      margin-right: 5px;
    }
  }
}

.section-content {
  h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.01rem;
  }

  h3 {
    font-weight: 300;
  }

  h4 {
    margin-top: 1.5rem;
  }
}

.section-intro {
  h2 {
    font-size: 1.5rem;
  }
}

.section-logo {
  img {
    width: 240px;
  }
}

.site-footer {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;

  h5 {
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
  }
}

#content .multiselect-container>li>a>label {
  margin: 0;
  height: 100%;
  cursor: pointer;
  font-weight: 400;
  padding: 3px 10px 3px 10px;
}

.site-logo {
  margin: 0 auto;
  max-width: 15rem;
}

.optional {
  color: grey;
}

// Hide placeholder on focus, not just on typing text
input:focus::placeholder {
  color: transparent;
}

.navbar {
  height: 140px;
}

@media (min-width: 992px) {
  .navbar {
    height: 170px;
    padding: 0px;
  }

  #logo {
    display: inherit;
  }
}