---
---

$navy: #14233C;
$red: #990000;
$button: #0070DF;
$gray: #E7E7E7;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.bg-navy {
    background-color: $navy;
}

.bg-red {
    background-color: $red;
}

.btn {
    background-color: $button;
}

.bg-gray {
    background-color: $gray;
}

h1, h2, h3, h4, h5 { 
    font-family: 'Source Sans Pro', sans-serif;
}