---
---

$navy: #14233c;
$red: #990000;
$button: #0070df;
$gray: #f1f1f1;
$white: #ffffff;
$dark_gray: #35393b;

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

.bg-navy {
  background-color: $navy;
}

.bg-red {
  background-color: $red;
}

.btn {
  background-color: $button;
}

.bg-gray {
  background-color: $gray;
}

.cta {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", sans-serif;
}

h3 {
  font-weight: bold;
}

footer,
section {
  &.section-members {
    .col-12 {
      max-width: 900px;
    }
  }

  .col-12 {
    max-width: 750px;
  }
}

.lg-gutter {
  @media (min-width: 660px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.partner-logo {
  margin-bottom: 3rem;
}

.section-hotline {
  padding: 1rem 0;

  h2 {
    font-weight: 500;
  }

  strong {
    font-size: 1.65em;
  }

  p {
    margin-bottom: 0.5rem;
  }

  .hotline-number,
  .hotline-email {
    display: inline-block;
    font-size: 1.7rem;

    a {
      color: $white;

      &:hover {
        text-decoration: none;
      }
    }

    svg {
      height: 60px;
      width: 40px;
      fill: $white;
      padding-top: 5px;
      margin-right: 5px;
    }

    svg:first-child {
      margin-left: 30px;
    }
  }
}

.section-content {
  h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.01rem;
  }

  h3 {
    font-weight: 300;
  }

  h4 {
    margin-top: 1.5rem;

    a {
      color: #255dad;
    }
  }
}

.section-intro {
  h2 {
    font-size: 1.5rem;
  }
}

.site-footer {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;

  h5 {
    margin-bottom: 1rem;
  }

  a {
    color: $dark_gray;
    text-decoration: none;
  }
}

#content .multiselect-container>li>a>label {
  margin: 0;
  height: 100%;
  cursor: pointer;
  font-weight: 400;
  padding: 3px 10px 3px 10px;
}

.site-logo {
  margin: 0 auto;
  max-width: 15rem;
}

.navbar-light .navbar-nav .nav-item a {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-left: 20px;
  margin-right: 20px;
  color: #000000 !important;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.nav-item a:hover {
  color: $dark_gray !important;
}

.navbar-light .navbar-nav .active a {
  border-bottom: 5px solid $red;
}

.navbar-light .navbar-nav .highlight a {
  color: $red !important;
}

.optional {
  color: grey;
}

@import "assets/directory";
