---
---

$navy: #14233C;
$red: #990000;
$button: #0070DF;
$gray: #E7E7E7;
$white: #FFFFFF;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.bg-navy {
    background-color: $navy;
}

.bg-red {
    background-color: $red;
}

.btn {
    background-color: $button;
}

.bg-gray {
    background-color: $gray;
}

.hotline-number {
  font-size: 2.75rem;
  font-weight: bold;

  @media only screen and (min-width: 660px) {
    font-size: 3.5rem;
  }

  a {
    color: $white;

    &:hover {
      text-decoration: none;
    }
  }
}

.cta {
  font-weight: bold;
}

h1, h2, h3, h4, h5 { 
  font-family: 'Source Sans Pro', sans-serif;
}

h3 {
  font-weight: bold;
}

footer,
section {
  .col-12 {
    max-width: 750px;
  }
}

.section-hotline {
  padding: 1rem 0;

  p {
    margin-bottom: 0.5rem;
  }
}

.section-intro {
  h2 {
    font-size: 1.5rem;
  }
}

.site-footer {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.site-logo {
  margin: 0 auto;
  max-width: 15rem;
}