---
layout: default
title: Blog
---

<section class="section-directory section-content pt-5" id="no-result">
  <div class="container longread post">
    <div class="col-12 mx-auto">

      {% for post in site.posts %}
      <div>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <div class="author">
            Posted on <span class="date">{{ post.date | date_to_string }}</span>{% if post.author %} by {{ post.author }}{% endif %}
          </div>
          <p class="reading-time">
            {{ post.reading_time }}
          </p>
          <div class="content">
            {{ post.content }}
          </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
