---
layout: default
title: Blog
---

<section class="section-directory section-content pt-5" id="no-result">
  <div class="container">
    <div class="col-12 mx-auto">

      {% for post in site.posts %}
      <div>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <div class="content">
            {{ post.content }}
          </div>
          <p class="posted">
            Posted on <span class="date">{{ post.date | date_to_string }}</span>{% if post.author %} by {{ post.author }}{% endif %}
          </p>
      </div>
      {% endfor %}

    </div>
  </div>
</section>