---
permalink: /blog
layout: default
title: Blog
---
<section class="section-content py-5" id="no-result">
  <div class="container longread post">
    <div class="col-12 mx-auto">
      <div class="container">

      {% assign first = true %}

      {% for post in site.posts %}

        {% assign social = "" %}
        {% for author in site.authors %}
          {% if post.author == author.name %}
            {% assign social = author.social %}
          {% endif %}
        {% endfor %}


        {% if first == true %}
        {% assign first = false %}
        {% else %}
        <div class="row separator">
          <div class="col"></div>
        </div>
        {% endif %}

        <div class="row post post-list" onclick="window.location = '{{ post.url }}'">
          <div class="col">
            <div class="posted">
              <div>Posted on {{ post.date | date_to_string }}</div>
            </div>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <div class="posted">
              <div>By {% if social %}<a href="{{ social }}">{% endif %}{{ post.author }}{% if social %}</a>{% endif %}</div>
            </div>
            <div class="content">
              {{ post.summary }}
            </div>
            <div>
              <br>
              <div class="read-full">Read full post</div>
            </div>
          </div>
          <div class="col-auto">
            <div class="thumbnail">
              <img src="{{ post.thumbnail }}">
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>
</section>

<script>
  function resize (target) {
    if (target.height === 0 || target.width === 0) {
      target.onload = function (event) {
        resize(event.target)
      }
    } else if (target.height > target.width) {
      target.classList.add('portrait')
      target.classList.add('loaded')
    } else {
      target.classList.add('loaded')
    }
  }

  var posts = document.querySelectorAll('.post-list')
  for (var i = 0; i < posts.length; i++) {
    resize(posts[i].querySelector('img'))
  }
</script>
