---
permalink: "/"
layout: default
---

<section class="bg-navy section-intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-white my-5">
        <h1 class="text-center mb-5 mt-2 font-weight-bold site-logo">
          <img src="assets/images/ppe-logo.svg" alt="{{ site.title }}" />
        </h1>
        <p>
          <h1>
            A National Unified Leadership response to the urgent shortages of Personal Protective Equipment
          </h1>
        </p>
        <p>
          Across the nation, thousands of people are stepping up to solve the crisis that is afflicting our heroic
          frontline health workers and first responders. As hospitals struggle to find safe and reliable supplies,
          companies, organizations, and individuals are joining forces to get health care workers the personal
          protective equipment and lifesaving medical devices they need. No single organization can do this alone. In
          fact, the proliferation of organizations in this space has made it incredibly challenging to navigate.
        </p>
        <p>
          National PPE Coalition’s goal is to aid that process by enabling connections. We’re working to bring crucial
          partners - state governments, corporations, manufacturers, non profits, and individuals - together in order to
          build an efficient, unified supply chain.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-red section-hotline">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center py-2 text-white">
        <p>
          <strong>
            Is your need urgent? Call or e-mail our hotline and we'll connect you with an organization that can help:
          </strong>
        </p>
        <h2 class="hotline-number">
          <a href="tel:+1-855-904-3506">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
              <path d="M0 0h24v24H0z" fill="none" />
              <path
                d="M20.01 15.38c-1.23 0-2.42-.2-3.53-.56-.35-.12-.74-.03-1.01.24l-1.57 1.97c-2.83-1.35-5.48-3.9-6.89-6.83l1.95-1.66c.27-.28.35-.67.24-1.02-.37-1.11-.56-2.3-.56-3.53 0-.54-.45-.99-.99-.99H4.19C3.65 3 3 3.24 3 3.99 3 13.28 10.73 21 20.01 21c.71 0 .99-.63.99-1.18v-3.45c0-.54-.45-.99-.99-.99z" />
            </svg>
            1-855-904-3506
          </a>
        </h2>

        <h2 class="hotline-email">
          <a href="mailto:info@ppecoalition.com">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
              <path
                d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
              <path d="M0 0h24v24H0z" fill="none" /></svg>
            info@ppecoalition.com
          </a>
        </h2>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray section-content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 my-4">
        <h2>The Need</h2>
        <p>
          We’re sending real time updates about what every organization is doing, connecting members to each other, and
          directing people in need to organizations that can help. Our members are working on every part of the PPE
          problem - supply, demand, data tracking, logistics, fulfillment, funding, and more. If we combine and
          coordinate our efforts, we can make sure that supplies are delivered where they are needed most.

        </p>
        <p>
          The coalition is an open organization, and our goal is to get everybody working on these critical initiatives
          in order to encourage communication and coordination. Our coalition is constantly growing. Below you'll find a
          list of our members, a link to their website and a short description of how they can lend a hand.
        </p>
        <p>
          While each of our members provides their own skills, knowledge and learned experience, together, we share a
          fundamental commitment to create something greater than the sum of individual contributions.
        </p>
      </div>

      <div class="col-12 my-2">
        <h2>We commit to</h2>
      </div>

      <div class="col-12 my-2">
        <h3>Connecting need to supply</h3>
        <p>
          As hospitals struggle to find safe and reliable equipment, several organizations have come together to shake
          up the supply chain, improve logistics, and help save lives. Several coalition members are acting as
          clearinghouses for medical equipment by matching buyers to suppliers, tracking urgent needs and helping with
          logistics to ensure that PPE gets to where it is needed most. They’ve taken in thousands of institutional
          requests so far and started making matches with suppliers.
        </p>

        <div class="col-10 my-2">
          <h4><a href="https://www.projectn95.org/">Project N95</a></h4>
          <p>Project N95 is focused on delivering medical equipment into the hands of healthcare providers as quickly as
            possibly by serving as the nation's medical clearinghouse for hospital and healthcare requests and suppliers
            who are able to provide medical equipment, including ventilators. They’re working with FEMA, governments,
            and hospitals and healthcare networks to determine where demand is and where it is most urgent.</p>

          <h4><a href="https://getusppe.org/">GetUsPPE</a></h4>
          <p>Get Us PPE is a national, centralized platform that leverages a large network of partners and volunteers
            to: facilitate safe and efficient delivery of supplies to local hospitals, advocate for immediate action to
            expedite the manufacture of medical PPE nationwide and unite the maker community to validate and share PPE
            designs that can be printed and assembled locally. It is a collaboration between physicians and medical
            researchers on the frontlines of the COVID-19 pandemic, engineers, scientists and programmers.</p>

          <h4><a href="https://ppelink.wordpress.com/">PPE Link</a></h4>
          <p>PPE Link is working to collect and connect donations of standard PPE (not homemade) from local communities
            of academic and industry STEM labs as well as any other institutions or companies that use PPE in their
            operations to help provide a short-term stopgap by donating their local hospitals with supplies until
            national efforts are able to compensate.</p>

          <h4><a href="https://masksfordocs.com/">Masks For Docs</a></h4>
          <p>Masks for Docs is focused exclusively on providing protective masks to health care workers. They are
            collecting masks and have volunteers making and printing masks, and are building a resource to match
            supplies with hospitals in need and distribute them.</p>

          <h4><a href="https://operationmasks.org/">Operation Masks</a></h4>
          <p>Operation Masks has partnered with logistics experts to get masks, gloves and other PPE from payment to
            factory procurement to shipping to ground delivery to hospitals.</p>

          <h4><a href="https://www.harborfreight.com/">Harbor Freight</a></h4>
          <p>Harbor Freight is shipping more than 44 million pairs of nitrile gloves and hundreds of thousands of masks
            and face shields to hospitals in over 1,000 communities that requested them directly. </p>

          <h4><a href="https://docs.google.com/document/d/1os3YJtmbeqSp2i8BEUSqJxp9oBTIy0CIC2mLMNV26oc/edit">So You Want
              To Help with PPE</a></h4>
          <p>A list of resources for helping with the shortage of PPE, including places to donate and volunteer, plans
            and specs for sewing, 3D printing and donating masks, ways to request masks and face shields, answers to
            frequently asked questions about making masks and other ways to help both regionally and nationally</p>

          <h4><a href="https://findthemasks.com/">Find the Masks</a></h4>
          <p>Find the Masks has catalogued nationwide donation locations for PPE including surgical mask & N95 Masks,
            face shields, medical booties, safety goggles, gloves, kleenex, hand sanitizer, medical overalls, gowns, and
            advanced respirators (PAPR/CAPR/etc.). Filter by location or type of PPE.</p>

          <h4><a href="https://www.mask-match.com/">Mask Match</a></h4>
          <p>Mask Match is a peer-to-peer matching site for direct shipping between those who have masks to donate and
            those who are in need.</p>

          <h4><a href="https://www.getppe.me/">Get Them PPE</a></h4>
          <p>Get Them PPE is a crowdsourcing site built to help identify hospitals and other organizations that are
            severely undersupplied and in need of donations. Use the map to find out what items local hospitals are in
            need of and get contact info for each hospital to coordinate donations. There is also a separate form to
            submit hospital needs for inclusion. </p>

          <h4><a href="https://www.tnyscm.com/">Worldwide Supply Chain Federation</a></h4>
          <p>The Worldwide Supply Chain Federation is using its collective resources as a grassroots supply chain to
            source the most critical materials. It’s working with a number of government and private organizations to
            get everything where it is most needed, and to minimize random inquiries these groups need to vet and screen
            through.</p>

          <h4><a href="https://www.fulllifecare.org/the-mask-brigade/">Mask Brigade</a></h4>
          <p>The goal of each Mask Brigade’s is to help local residents and small businesses donate their N95 masks to
            the local healthcare community. Volunteers will pick up donated N95 masks as well as any other PPE and take
            them to local hospitals. They also offer information on methods for direct donation.</p>

          <h4><a href="https://www.ppeconnectpgh.com/">PPE Connect Pittsburgh</a></h4>
          <p>PPE Connect Pittsburgh is connecting Pittsburgh area healthcare workers in need of PPE with those who have
            and are willing to donate new, unused PPE, including N95 masks, gloves, isolation gowns, face shields and
            goggles. They’re coordinating both donations and requests and will pick up supplies and arrange distribution
            in partnership with local groups.</p>

          <h4><a href="https://givearmor.com">Give Armor</a></h4>
          <p>Give Armor is a group of volunteers from the construction industry who are collecting N95 face masks from
            constructions sites and donating them to hospitals during the COVID-19 pandemic.</p>

          <h4><a href="https://www.corvus-robotics.com/">Corvus Robotics</a></h4>
          <p>Corvus Robotics makes the world's 1st unmanned warehouse inventory drones. They fly themselves to scan pallet
            labels on your racks, no humans involved.</p>

          <h4>Frontline Support</h4>
          <p>Frontline Support is a group of California-based volunteers with decades of logistics expertise,
            long-term relationships in Asia that can identify and vet suppliers, and connections with state and local
            health officials. This effort began on March 16, 2020 to help more nimbly respond to the need for large scale
            PPE supplies.</p>

          <!--<h4>City of Seattle Protective Equipment Donation Site</h4>
          <p>The donation site is providing a form to arrange a pick-up of unused supplies, including masks, wipes,
            gowns, gloves, and ventilators, in unopened boxes or sealed packages. For unused but open supplies they’re
            partnering with the Seattle Mask Brigade for pickup.</p>-->
        </div>



        <h3 class="my-4">Sourcing new supply</h3>
        <p>
          Demand is surging, and supply chains aren’t able to keep up. To fill the gap, these coalition members are
          working around the clock to produce new sources of equipment. Groups of entrepreneurs in technology,
          healthcare and logistics are securing overseas and domestic production and shipment of all types of PPE
          supplies. Other coalition members are helping fund domestic production and even 3-D printing badly needed
          equipment and parts.
        </p>

        <div class="col-10 my-2">
          <h4><a href="https://themaskpros.com/masks/">The Mask Pros</a></h4>
          <p>The Mask Pros provides free resources for making masks including sewing patterns, DIY instructional videos,
            and downloadable files for 3D-printed masks. It also includes general information about surgical masks and
            N95 respirator masks</p>

          <h4><a href="https://freesewing.org/">FreeSewing</a></h4>
          <p>FreeSewing is an open source platform for made-to-measure sewing patterns. They’re providing several
            different facemask patterns on PDF and an instructional video that shows how to make them.</p>

          <h4><a href="https://www.masksnow.org">Masks Now</a></h4>
          <p>The Masks Now Coalition is providing patterns for sewing face masks as well as coordinating the efforts of seamstresses, makers and manufacturers to make masks and other supplies for use by medical professionals, at-risk community members and essential workers. They’re also working on converting maker spaces across the nation into supply production sites.</p>

          <h4><a href="https://www.nabld.com/">Nineteenth Amendment (N.A. bld): Make A Mask</a></h4>
          <p>Make A Mask is providing a tech kit with a free fabric face mask template, complete with digital pattern,
            suggested materials, and sourcing info for making masks at home. It’s also looking to partner with
            manufacturers to make masks, accepting donations and distributing masks. </p>

          <h4><a href="https://www.providence.org/lp/100m-masks">Million Mask Challenge</a></h4>
          <p>Million Mask Challenge is providing protective face mask patterns, hygiene protocol and mailing
            instructions for finished masks. They’re also offering an N95 trade in program so non-medical professionals
            who have N95's can trade them in for the masks created from the organization’s specs, which they will then
            send to the doctors.</p>

          <h4><a href="https://operationwecansewit.com/">Operation We Can Sew It!</a></h4>
          <p>Operation We Can Sew It! is providing a cloth mask design approved by Saint Joseph Hospital in Denver, CO
            and SCL Health facilities. All masks made to the specifications of our pattern will be accepted at these
            facilities and may be elsewhere but this should be approved beforehand.</p>

          <h4><a
              href="https://www.massbio.org/news/blog/calling-on-all-life-sciences-and-healthcare-organizations-to-donate-supplies-to-fight-covid-19-151858">Massachusetts
              Life Sciences Emergency Supply Hub</a></h4>
          <p>Massachusetts Life Sciences Emergency Supply Hub is helping coordinate efforts to bring additional
            supplies
            and resources to Massachusetts healthcare institutions. They’re asking life sciences and healthcare
            organizations to consider how they may be able to help, specifically by donating lab, testing, and
            diagnostics supplies, personal protection equipment (PPE), and medical and scientific expertise needed to
            combat COVID-19.</p>

          <h4><a href="https://www.promedica.org/pages/home.aspx">Promedica Health Direct</a></h4>
          <p>Promedica Health Direct is providing instructions and patterns for sewing masks and has organized for
            drop-offs and pickups in its various locations in Ohio and Michigan. Surgical sheeting and elastic for
            creating masks can be picked up at drop off locations as available.</p>

          <h4><a href="http://optindustries.com/npswab/">OPT Industries</a></h4>
          <p>OPT Industries has developed and is producing a 3D-printed nasopharyngeal (NP) swab for COVID-19 testing to help make up for the nationwide shortage. It has been vetted by clinicians at Beth Israel Deaconess Medical Center. OPT is producing thousands of testing swabs daily and distributing them to hospitals nationally via direct requests.</p>

          <h4><a href="https://opensourcemedicalsupplies.org/">Open Source Medical Supplies</a></h4>
          <p>OSMS (Open Source Medical Supplies) is building a repository of transparent, accurate, layman-accessible,
            medically-reviewed requirements for medical supply designs, then providing open-source designs for supplies
            that meet those requirements. Their goal is to help local manufacturers and makers provide vetted supplies
            directly to their hospitals, and later to help create local fabrication networks across the globe to respond to hospital needs.</p>

          <h4><a href="https://www.sourcify.com">Sourcify</a></h4>
          <p>Sourcify is providing PPE for hospitals, medical centers, and more at cost from their partner factories.
            With their sourcing team located across Asia, they have a diversified PPE supply through their partner factories.</p>

          <h4><a href="https://www.ypo.org">YPO</a></h4>
          <p>YPO is a global leadership community of chief executives that has formed a manufacturing coalition made up of 500
            manufacturers to assist with the PPE shortages across the US.</p>

        </div>

        <h3 class="my-4">Coordinating Financial Support</h3>
        <p>Foundations and nonprofits are stepping up to get healthcare workers the equipment they need to fight
          COVID-19 by floating capital and raising funds from individual donors. Several coalition members are raising
          significant sums to purchase large supplies of PPE and distribute them to hospital systems that are most in
          need.
        </p>

        <div class="col-10 my-2">
          <h4><a href="https://helena.org/">Helena.org</a></h4>
          <p>Helena is a 501c3 organization that is acting as risk capital to help finance purchases of critical PPE and
            other equipment.</p>

          <h4><a href="https://www.gofundme.com">GoFundMe</a></h4>
          <p>GoFundMe
          Former California Gov. Arnold Schwarzenegger, business and tech leaders, artists, and philanthropists launched the <a href="https://www.gofundme.com/f/frontlinerespondersfund">Frontline Responders Fund</a>, a GoFundMe campaign raising funds to deliver personal protective equipment (PPE) to frontline responders in our hospitals. <a href="https://flexport.org">Flexport.org</a> enables organizations to deliver aid and make an impact. Flexport is at the point of intersection for companies to move critical supplies from the factory and get them to frontline responders</p>
          <h4><a href="https://charity.gofundme.com/o/en/campaign/help-feed-the-frontline-fighting-covid-19">Help Feed
              the Frontline</a></h4>
          <p>Help Feed the Frontline is raising the required funding to feed healthcare workers in Los Angeles a
            nutritious lunch and dinner for as long as this crisis lasts. They’re working in partnership with José
            Andrés and World Central Kitchen</p>

          <h4><a href="https://thriveglobal.com/categories/first-responders-first/">First Responders First Fund</a></h4>
          <p>Thrive Global’s FirstRespondersFirst, in partnership with the Entertainment Industry Foundation, is raising
            donations to provide essential supplies, equipment and resources for protecting frontline healthcare workers
            and their patients.</p>

          <h4><a href="https://www.gofundme.com/f/nurses-ppe-supplies">N95 Mask & PPE Supplies for the Frontline</a>
          </h4>
          <p>The Society of Nurse Scientists Innovators Entrepreneurs & Leaders (SONSIEL) has launched SHARE (Strengthen
            Healthcare Ability to Respond to Emergencies), an urgent call-to-action to move supplies of PPE, including
            vital respirator masks, to healthcare providers on the frontline. This campaign is raising funds to purchase
            N95 masks directly and donate them to the frontline healthcare staff across the country.</p>

          <h4><a href="https://www.gofundme.com/f/help-us-purchase-needed-ppe-gear-for-hospitals">Help Us Purchase
              Needed PPE Gear</a></h4>
          <p>This fund supports the purchase of nitrile gloves, latex gloves, hospital gowns/isolation gowns, N95 masks,
            surgical masks, face shields, and more, ordered directly from manufacturers in China. These items will be
            largely directed to Providence Everett in Washington State, with remaining items going to anyone who fills
            out a request form.</p>

          <h4><a href="https://www.gofundme.com/f/surgical-masks-for-hospitals-in-need">Surgical Masks for Hospitals in
              Need</a></h4>
          <p>This campaign’s focus is to function as a “gap filler” for hospitals in dire need of PPE while they wait
            for large orders to arrive. It purchases small batches (400-800 pieces) of both surgical and KN95 masks, and
            ships directly to hospitals via Fed Ex International Priority. Supplies shipped in small batches are not
            held up in customs and reach their destination in 5 to 6 days.</p>
        </div>

        <h3 class="my-4">Providing data</h3>
        <p>In a public health emergency like this, people need accurate information to protect themselves and their
          families. Coalition members are helping you stay safe by slowing the spread of the virus and misinformation at
          the same time. These groups are doing everything from providing guidelines for reducing the burden on the
          health care system to helping folks understand social distancing to showing individuals the proper uses of
          protective equipment.
        </p>

        <div class="col-10 my-2">
          <h4><a href="https://www.endcoronavirus.org/">End CoronaVirus.org</a></h4>
          <p>This continuously updated site has expert information on how to stop COVID-19 is built and maintained by
            the <a href="https://necsi.edu/">New England Complex Systems Institute (NECSI)</a> and collaborators. Its
            goal is to minimize the impact of COVID-19 by providing useful data and guidelines for action. The research
            team has co-faculty, students and affiliates from MIT, Harvard, Brandeis and other universities nationally
            and internationally and is working around the clock to monitor and communicate the current state of the
            COVID-19 epidemic. It includes recommendations for individuals, families, employers, and governments.</p>

          <h4><a href="https://coronavirusarmy.org">Coronavirus Army</a></h4>
          <p>Coronavirusarmy serves as a gathering place for those looking for: a virus outbreak tracker; a
            self-quarantine room locator; ways to help doctors, hospitals and medical workers with special requests;
            ways to join the caretaking community; advocating for various policy changes for workers during the
            pandemic.</p>

          <h4><a href="https://resist.bot/">Resistbot</a></h4>
          <p>Resistbot provides local information on COVID-19 and related advocacy via text to 50409, Facebook Messenger, and Twitter: Text COVID for state information on infection data and resources, COVIDACT for state outbreak projections and how they can be changed by mitigation, COVID19 to see what state actions have been taken to protect and support community, GOVERNOR or RESIST to send a letter to local government encouraging them to take stronger measures, and MASKS to help with local PPE sourcing and distribution efforts.</p>

          <h4><a href="https://masks4all.co">#Masks4All</a></h4>
          <p>#Masks4All is a grassroots movement to get people to follow the overwhelming scientific evidence that shows
            we need to wear homemade masks in public to slow COVID-19. Visit the site to find out how to make masks, learn
            about the science, and please share to save lives.</p>
        </div>

        <h3 class="my-4">Reprocessing Masks</h3>
        <p>Through innovative technologies, partners are exploring the possibility of cleaning and sterilizing used PPE to be safely redeployed by frontline medical professionals. This set of approaches intends to control the depletion of existing PPE supplies in order to reduce COVID spread within hospitals and the broader medical system.</p>

      </div>

      <div class="col-10 my-2">
        <p style="font-size:1.1rem">By coordinating all emergency PPE crisis efforts, we not only minimize the risk of
          misdirecting critical
          supplies to places that may need them less urgently, but increase their individual power exponentially.
          Working
          together, the PPE Coalition members are working together to ensure that every shipment of PPE sent is a
          life-saving shipment.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-members">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 my-5">
        <h2 class="my-5">PPE Coalition Members</h2>
        <div class="row d-flex flex-wrap align-items-center">
          {% for org in site.organizations %}
            {% if org.logo and org.logo != "" %}
            <div class="col-6 col-md-4 lg-gutter partner-logo">
              {% if org.site_url %}<a href="{{ org.site_url }}" target="_blank">{% endif %}
              <img src="{{ org.logo }}" alt="{{ org.name }}" style="width: 100%;" />
              {% if org.site_url %}</a>{% endif %}
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
