---
permalink: /
layout: default
intro: >-
  <h3>The C19 Coalition brings crucial partners together to help build an
  efficient, unified supply chain for PPE and lifesaving medical devices. State
  governments, corporations, manufacturers, non-profits, and individuals can
  connect through us to share and request resources and information.</h3>


  Our members are working on every part of the problem: supply, demand, fulfillment, logistics, funding, and information tracking. We use real-time updates about what every organization is doing in order to maximize efficiency and effectiveness.


  By coordinating all emergency PPE crisis efforts, we help minimize the risk of misdirecting critical supplies to places that may need them less urgently, and increase their individual power exponentially. We’re working together to ensure that every shipment of PPE sent is a life-saving shipment.


  Since March, Coalition Partners have manufactured and distributed more than 100 million net new units of PPE across the country. The Coalition is working collaboratively with the National Governors Association (NGA) and directly with states like New Jersey to acquire more information about the greatest needs and how to activate public-private partnerships.


  ##### [Read about our initiatives and partner commitments](https://c19coalition.org/commitments)
sections:
  - description: >-
      ### Sourcing new supply


      Organizations that are finding or producing new sources of equipment. Groups of entrepreneurs in technology, healthcare and logistics are securing production and shipment of all types of PPE supplies. Others are contributing to production through efforts as varied as sewing and 3-D printing. Early “sourcing new supply” projects include the [YPO](https://manufacturingcoalition.com/) global leadership community, [OPT Industries](http://optindustries.com/npswab/) producing 3D supplies, and non-profit [Operation Masks](https://operationmasks.org/) working to source and distribute large quantities of PPE to frontline workers.
    orgs: []
  - description: >-
      ### Connecting need to supply


      Clearinghouses that are tracking urgent medical supplies needs and matching buyers to suppliers to ensure that PPE gets to where it is needed most. Organizations like [GetUsPPE](https://getusppe.org/) , [Project N95](https://www.projectn95.org/), and [Find the Masks](https://findthemasks.com/) have taken in thousands of institutional requests so far and started making matches with suppliers.
    orgs: []
  - description: >-
      ### Providing resources for makers


      With hundreds of thousands of people mobilizing to help globally there’s a great need for open-source designs, requirements, and tutorials for individuals and maker communities of all kinds who are assisting with the production of PPE, including face shields, gowns and other supplies. Examples are [The Mask Pros](https://themaskpros.com/masks/), [Masks Now](https://www.masksnow.org/), and [Open Source Medical Supplies](https://opensourcemedicalsupplies.org/) (OSMS) with a repository of medically-reviewed requirements for medical supply designs, then providing open-source designs for supplies that meet those requirements.
    orgs: []
  - description: >-
      ### Coordinating logistics and transportation


      These organizations are assisting with the enormous task of physically moving urgently needed PPE from one location to another, locally, nationally and globally. Some of the earliest examples were [Flexport](https://flexport.org/), [Harbor Freight](https://www.harborfreight.com/), and [Worldwide Supply Chain Federation](https://www.tnyscm.com/).
    orgs: []
  - description: >-
      ### Coordinating Financial Support


      Foundations, nonprofits, and grassroots efforts are floating capital and raising funds needed to purchase all batch sizes of PPE and distribute them to hospital systems that are most in need, or fund other supportive efforts for first responders. [Helena.org](https://helena.org/) finances purchases of critical PPE and other equipment, [Help Feed the Frontline](https://charity.gofundme.com/o/en/campaign/help-feed-the-frontline-fighting-covid-19) is raising the required funding to feed healthcare workers, and the [First Responders First Fund](https://thriveglobal.com/categories/first-responders-first/) is raising donations to provide essential supplies, equipment and resources for protecting frontline healthcare workers and their patients.
    orgs: []
  - description: >-
      ### Providing data


      Accurate, timely information helps everyone protect each other be it health guidelines or infection data. [\#Masks4All](https://masks4all.co/) is a grassroots movement to get people to follow the overwhelming scientific evidence that shows we need to wear homemade masks in public to slow COVID-19. Each with their own approach, [End CoronaVirus.org](https://www.endcoronavirus.org/) built and maintained by the [New England Complex Systems Institute (NECSI)](https://necsi.edu/), and [Coronavirus Army](https://coronavirusarmy.org/) serves as a gathering place for those looking for ways to help.
    orgs: []
outro: The coalition is an open, constantly growing organization. Each of our
  members contributes a different set of skills, knowledge and learned
  experience. Together, we share a fundamental commitment to building something
  greater than the sum of these crucial parts.
---

<section class="background-secondary section-intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 col-lg-7 mb-5">
        {{ page.intro | markdownify }}
      </div>
      <div class="col-11 col-md-8 col-lg-5 mb-5">
        <div class="section-hotline">
          <p>
            <strong>For urgent needs,</strong> call or e-mail <strong>our</strong> hotline for immediate help:
          </p>
          <p>
            <h2 class="hotline-email">
              <a href="mailto:info@c19coalition.org" class="btn secondary">
                info@c19coalition.org
              </a>
            </h2>
            <h2 class="hotline-number">
              <a href="tel:+1-855-904-3506" class="btn secondary">
                1-855-904-3506
              </a>
            </h2>
            <h2 class="hotline-number">
              <a href="/pages/health" class="btn secondary">
                Mental Health Resources
              </a>
            </h2>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-content">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="container longread mx-0">
          <div class="row">
            <div class="col-12 px-0 my-4">
              {% for sec in page.sections %}
              {{sec.description | markdownify}}
              <div class="col-10 my-2">
                {% for featured_org in sec.orgs %}
                {% assign org = site.organizations | where: "name", featured_org.org_name | first %}
                {% if org %}
                <h4>
                  {% if org.site_url %}<a href="{{org.site_url}}">{%endif%}
                    {{ org.name }}
                    {% if org.site_url %}</a>{%endif%}
                </h4>
                <p>{{org.description | markdownify}}</p>
                {% endif %}
                {% endfor %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="section-directory primary py-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 py-2">
        <div style="font-size:1.2rem">
          {{page.outro | markdownify}}
        </div>
        <a class="btn primary-inversed" href="/directory" role="button">See The Directory</a>
      </div>
    </div>
  </div>
</section>

<section class="section-members">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 my-5">
        <h2 class="my-5">C19 Coalition Partners</h2>
        <div class="row d-flex flex-wrap align-items-center">
          {% for org in site.organizations %}
          {% if org.is_member and org.show_on_home_page and org.logo and org.logo != "" %}
          <div class="col-6 col-md-4 lg-gutter partner-logo">
            {% if org.site_url %}<a href="{{ org.site_url }}" target="_blank">{% endif %}
              <img src="{{ org.logo }}" alt="{{ org.name }}" />
              {% if org.site_url %}</a>{% endif %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <p><a href="/ppe-orgs">See all the groups that have volunteered to help &gt</a></p>
      </div>
    </div>
  </div>
</section>
