---
permalink: /ppe-orgs
layout: default
main: >-
  # Early PPE Coalition Partners

  We are grateful to our early PPE Coalition partners who volunteered to assist in the crisis. Many have now become C19 Coalition Members.
---
<section class="section-content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 my-4">
          {{ page.main | markdownify }}
        </div>
      </div>
    </div>
</section>

<section class="section-members">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 my-5">
        <div class="row d-flex flex-wrap align-items-center">
          {% for org in site.organizations %}
          {% if org.is_member and org.logo and org.logo != "" %}
          <div class="col-6 col-md-4 lg-gutter partner-logo">
            {% if org.site_url %}<a href="{{ org.site_url }}" target="_blank">{% endif %}
              <img src="{{ org.logo }}" alt="{{ org.name }}" />
              {% if org.site_url %}</a>{% endif %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
