---
layout: default
---

{% for author in site.authors %}
  {% if page.author == author.name %}
    {% assign social = author.social %}
  {% endif %}
{% endfor %}

<section class="section-directory section-content pt-5" id="no-result">
  <div class="container longread">
    <div class="col-12 mx-auto">
      <div>
        <div class="posted">
          <div>Posted on {{ page.date | date_to_string }}</div>
        </div>
        <h1>{{ page.title }}</h1>
        <div class="posted">
          <div>By {% if social %}<a href="{{ social }}">{% endif %}{{ page.author }}{% if social %}</a>{% endif %}</div>
        </div>
        <p class="reading-time">
          {{ page.reading_time }}
        </p>
        <div class="content">
          {{ page.content }}
        </div>
        {% if page.footer %}
        <p class="what-is mt-5">
          <em>{{ page.footer }}</em>
        </p>
        {% endif %}
        <div class="share">
          <h3>Share</h3>
          <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url | url_encode }}{{ page.url | url_encode }}">LinkedIn</a><a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url | url_encode }}{{ page.url | url_encode }}&via=c19Coalition">Twitter</a>
        </div>
      </div>

    </div>
  </div>
</section>
